<div
  class="fixed inset-0 z-[1000] flex items-center justify-center bg-white/90 transition-opacity duration-700 ease-in-out opacity-0 pointer-events-auto"
  [class.opacity-100]="visible"
  [class.pointer-events-none]="!visible"
>
  <!-- <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-[#034833]"></div> -->
 <img
    src="mw-logo.png"
    alt="Logo"
    class="w-15 h-15 rounded-xl animate-bounce transition-opacity duration-700 ease-in-out opacity-0"
    [class.opacity-100]="visible"
  />
</div>