<div class="bg-[#fdfdfd] min-h-screen">
    <div class="flex max-w-[1200px] mx-auto pt-10">
  <!-- Sidebar -->
  <aside class="w-64 bg-white rounded-md overflow-hidden shadow-[5px_0_15px_-5px_rgba(0,0,0,0.3)] min-h-[500px]">
  <ul>
    <li
      *ngFor="let item of sidebarMenu"
      routerLinkActive="bg-black text-white"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="item.route"
      class="p-3 px-7 cursor-pointer flex items-center gap-2 hover:bg-black hover:text-white"
    >
      <a class="flex items-center gap-2 w-full h-full">
        {{ item.label }}
      </a>
    </li>
    <li (click)="loginService.logout()" class="p-3 px-7 cursor-pointer flex items-center gap-2 hover:bg-black hover:text-white">
      <a class="flex items-center gap-2 w-full h-full">
       Logout
      </a>
    </li>
  </ul>
</aside>
  <main class="flex-1 p-6">
    <router-outlet></router-outlet>
    <!-- <div class="bg-gray-100 border p-3 rounded text-sm text-gray-700 mb-6">
      🔔 Your account with Comicsense is using a temporary password.
      We emailed you a link to change your password.
    </div>

    <div>
      <p class="text-lg font-medium">
        Hello <span class="font-bold">Arun Kumar</span> (not <span class="font-bold">Arun Kumar</span>? 
        <a href="#" class="text-pink-600">Log out</a>)
      </p>
      <p class="mt-2">
        From your account dashboard you can view your
        <a href="#" class="text-pink-600">recent orders</a>, manage your
        <a href="#" class="text-pink-600">shipping and billing addresses</a>, and
        <a href="#" class="text-pink-600">edit your password and account details</a>.
      </p>
    </div> -->
  </main>
</div>
</div>
