<div class="w-screen h-screen fixed top-0 left-0 bg-[#000000b0] flex justify-center items-center p-3">
     <div *ngIf="signIn" class="max-w-[500px] w-full bg-white flex justify-center items-center px-6 py-12 relative">
      <div class="absolute top-0 right-0 p-3 cursor-pointer " (click)="closeLogin()">
             <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z" fill="currentColor"/></svg>

      </div>
        <div class="w-full max-w-md text-center">
          <h2 class="text-2xl font-bold mb-2">Hello Again!</h2>
          <p class="text-gray-600 mb-6">Welcome Back</p>
          <div id="google-signin-btn">

          </div>
          <p class="py-2 text-gray-500">OR</p>
          <form [formGroup]="loginForm" (ngSubmit)="verifyPassword()" class="space-y-4">
              <div class="relative">
                  <input
                type="email"
                placeholder="Email Address"
                formControlName="email"
                class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-red-500 text-sm">
                Valid email is required.
              </div>
              </div>
            
              <div class="relative">
                  <input
                type="password"
                placeholder="Password"
                formControlName="password"
                class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-red-500 text-sm">
                Password is required.
              </div>
              </div>
            
              <button [disabled]="loginForm.invalid"
                type="submit"
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300 text-white font-semibold rounded-full transition">
                Login
              </button>
              <!-- <a href="#" class="text-sm text-gray-500 hover:underline block mt-2">Forgot Password</a> -->
            </form>

            <div class="pt-4 text-sm text-gray-600">
              <p class="cursor-pointer w-fit mx-auto hover:underline" (click)="setValue('c')">Forgot Password?</p>
            <p class="cursor-pointer pt-2  w-fit mx-auto hover:underline" (click)="setValue('b')">Register</p>
            </div>
        </div>
      </div>
  
      <div *ngIf="resetPassword" class="max-w-[500px] w-full bg-white flex justify-center items-center px-6 py-12">
        <div class="w-full max-w-md text-center">
          <h2 class="text-2xl font-bold mb-2 pb-4">Reset Password</h2>
    
          <form *ngIf="!otpVerified" [formGroup]="resetForm" (ngSubmit)="verifyResetOtp()" class="space-y-4">
              <div class="relative">
                  <input
                type="email"
                placeholder="Email Address"
                formControlName="email"
                class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <div *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.invalid" class="text-red-500 text-sm">
                Valid email is required.
              </div>
              <div
        (click)="sendOtpForReset()"
        class="absolute top-[25px] -translate-y-1/2 right-3 w-8 h-8 rounded-full flex items-center justify-center cursor-pointer transition"
        [ngClass]="{
          'bg-blue-600': resetForm.get('email')?.valid,
          'bg-blue-300 pointer-events-none': resetForm.get('email')?.invalid
        }"
      >
        <svg
          class="w-4 h-4 text-white"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
              </div>
            
              <div *ngIf="showOtpInput" class="relative">
                  <input
                type="password"
                placeholder="OTP"
                formControlName="otp"
                class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <div *ngIf="resetForm.get('otp')?.touched && resetForm.get('otp')?.invalid" class="text-red-500 text-sm">
                OTP is required.
              </div>
              </div>
            
              <button [disabled]="resetForm.invalid"
                type="submit"
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300 text-white font-semibold rounded-full transition">
                Verify OTP
              </button>
              <!-- <a href="#" class="text-sm text-gray-500 hover:underline block mt-2">Forgot Password</a> -->
            </form>
            <form *ngIf="otpVerified" [formGroup]="newPasswordForm" (ngSubmit)="changePassword()" class="space-y-4">
              <div class="relative">
                <input
              type="password"
              placeholder="New password"
              formControlName="newPassword"
              class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <div *ngIf="newPasswordForm.get('newPassword')?.touched && newPasswordForm.get('newPassword')?.invalid" class="text-red-500 text-sm">
              Enter a Password
            </div>
            </div>
            <div class="relative">
                <input
              type="password"
              placeholder="Re Enter password"
              formControlName="reenterPassword"
              class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <div *ngIf="newPasswordForm.get('reenterPassword')?.touched && newPasswordForm.get('reenterPassword')?.invalid" class="text-red-500 text-sm">
              Renter Password
            </div>
            <div class="text-red-500 text-sm" *ngIf="newPasswordForm.errors?.['passwordMismatch'] && newPasswordForm.touched">
              Passwords do not match
            </div>
            <div class="text-red-500 text-sm" *ngIf="newPasswordForm.get('newPassword')?.hasError('pattern')">
              Password must contain at least one uppercase letter, one number, and one special character.
            </div>
            </div>

            <button [disabled]="newPasswordForm.invalid"
                type="submit"
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300 text-white font-semibold rounded-full transition">
                Reset Password
              </button>

          </form>
          <p class="cursor-pointer w-fit mx-auto pt-3 text-sm text-gray-600" (click)="setValue('a')">Login</p>

            
        </div>
      </div>


      <div *ngIf="register" class="max-w-[500px] w-full bg-white flex justify-center items-center px-6 py-12">
        <div class="w-full max-w-md text-center">
          <h2 class="text-2xl font-bold mb-2 pb-4">Register</h2>
    
          <form *ngIf="!otpVerified" [formGroup]="registerForm" (ngSubmit)="verifyRegisterOtp()" class="space-y-4">
              <div class="relative">
                  <input
                type="email"
                placeholder="Email Address"
                formControlName="email"
                class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-red-500 text-sm">
                Valid email is required.
              </div>
              <div
        (click)="sendOtpForRegistration()"
        class="absolute top-[25px] -translate-y-1/2 right-3 w-8 h-8 rounded-full flex items-center justify-center cursor-pointer transition"
        [ngClass]="{
          'bg-blue-600': registerForm.get('email')?.valid,
          'bg-blue-300 pointer-events-none': registerForm.get('email')?.invalid
        }"
      >
        <svg
          class="w-4 h-4 text-white"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </div>
              </div>
            
              <div *ngIf="showOtpInput" class="relative">
                  <input
                type="password"
                placeholder="OTP"
                formControlName="otp"
                class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
              <div *ngIf="registerForm.get('otp')?.touched && registerForm.get('otp')?.invalid" class="text-red-500 text-sm">
                OTP is required.
              </div>
              </div>
            
              <button [disabled]="registerForm.invalid"
                type="submit"
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300 text-white font-semibold rounded-full transition">
                Verify OTP
              </button>
              <!-- <a href="#" class="text-sm text-gray-500 hover:underline block mt-2">Forgot Password</a> -->
            </form>
            <form *ngIf="otpVerified" [formGroup]="newPasswordForm" (ngSubmit)="createCustomer()" class="space-y-4">
              <div class="relative">
                <input
              type="password"
              placeholder="New password"
              formControlName="newPassword"
              class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <div *ngIf="newPasswordForm.get('newPassword')?.touched && newPasswordForm.get('newPassword')?.invalid" class="text-red-500 text-sm">
              Enter a Password
            </div>
            </div>
            <div class="relative">
                <input
              type="password"
              placeholder="Re Enter password"
              formControlName="reenterPassword"
              class="w-full px-4 py-3 border border-gray-200 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <div *ngIf="newPasswordForm.get('reenterPassword')?.touched && newPasswordForm.get('reenterPassword')?.invalid" class="text-red-500 text-sm">
              Renter Password
            </div>
            <div class="text-red-500 text-sm" *ngIf="newPasswordForm.errors?.['passwordMismatch'] && newPasswordForm.touched">
              Passwords do not match
            </div>
            <div class="text-red-500 text-sm" *ngIf="newPasswordForm.get('newPassword')?.hasError('pattern')">
              Password must contain at least one uppercase letter, one number, and one special character.
            </div>
            </div>

            <button [disabled]="newPasswordForm.invalid"
                type="submit"
                class="w-full py-3 bg-blue-600 hover:bg-blue-700 disabled:bg-blue-300 text-white font-semibold rounded-full transition">
                Register
              </button>

          </form>
          <p class="cursor-pointer w-fit mx-auto pt-3 text-sm text-gray-600" (click)="setValue('a')">Login</p>

            
        </div>
      </div>
</div>