/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
  --moto-green: #a1d71ab6;
}

button{
    cursor: pointer;
}

@font-face {
  font-family: 'quantify';
  src: url('/Quantify-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.primary-green{
  color: var(--moto-green);
}

.green-bg{
  background-color:var(--moto-green);
}


body {
    font-family: 'Poppins', sans-serif;
  }