/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";



body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --moto-green: #A3D71A;
}

html,
body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'quantify';
  src: url('/Quantify-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.primary-green {
  color: var(--moto-green);
}

.green-bg {
  background-color: var(--moto-green);
}